WIFI_SSID=
WIFI_PASSWORD=
BADGE_NAME=RYAN RAMPERSAD
BADGE_TAGLINE=Software Engineer
BADGE_DETAIL=ryanrampersad.com
BADGE_QR_URL=https://ryanrampersad.com
OWM_API_KEY=
OWM_CITY=
OWM_UNITS=imperial
TIMEZONE_STR=CST6CDT,M3.2.0,M11.1.0
